
/*Editor css */
.ke-input-text
{
    font-size: 14px;
	line-height: 21px;
	height: 24px;
}

#url
{
    font-size: 14px;
	line-height: 21px;
	height: 24px;
	width:200px;
}

.ke-content
{
    font-size:14px;
}